.mainPageTitle{
    color: crimson;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.categorySection{
    border: 2px solid green;
}

.categorySection h2{
    color: rgb(198, 198, 198);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.categorySection h3{
    color: rgb(198, 198, 198);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;

}

.LRAFSectionDemoPortal{
    border: 2px solid red;
    margin: 1vw;

}

.LRAFSectionDemoPortal p{
    margin: 1vw;
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.LRAFSectionDemoPortal h3{
    color: rgb(255, 64, 0);
}

.LRAFSectionDemoPortal_DemoScreenshotsGallery{
 
    display: flex;
}

.LRAF_DemoScreenshot_ImageCont{
    border: 2px solid black;
    width: 50%;
}

.LRAF_DemoScreenshot_ImageCont img{
    width: 100%;
}

.articleGallery{
    border: 1px dashed blue;
    display: grid;
}

.docArticle h2{
    color: chocolate;
}

.docArticle h3{
    color: orange;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
}

.docArticle h4 {
    color: rgb(255, 128, 0);
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 0%;

}

.docArticle p{
    color: bisque;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.docArticle ul{
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2%;
    margin-right: 2%;
}







/*desktop query*/
@media only screen and (min-width: 600px){

    .articleGallery {
        border: 1px dashed blue;
        grid-template-columns: 50% 50%;
    }

    .docArticle{
        border: 2px solid grey;
    }

    .docArticle_imageGallery{
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .docArticle_imageCont{
        border: 1px solid transparent;
        overflow: hidden;
    }

    .docArticle_imageCont img{
        width: 100%;
        display: block;
        margin: auto;
    }

}





/*Mobile query*/
@media only screen and (max-width: 600px){
    .articleGallery {
        border: 1px dashed orange;
        grid-template-columns: 100%;
    }

    .docArticle {
        border: 2px solid grey;
    }
    
    .docArticle_imageGallery {
        display: flex;
        flex-direction: row;
    }

    .docArticle_imageCont {
        border: 1px solid red;
        width: 50%;
        overflow: hidden;
    }

    .docArticle_imageCont img{
        width: 100%;
        display: block;
            margin: auto;
    }

}